body{
    background: #cad1c9;
}

.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 5px solid #244624;
    border-radius: 21px;
    height: 65px;
    width: 456px;
}

button{
    font-size: 40px;
    background: #978fa0;
    width: 102px;
    height: 90px;
    margin: 6px;
    border-radius: 20px;
    outline: none;
}

.calculator{
    background-color: #99a3ff;
    border: 2px solid rgb(56, 155, 201);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}